<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Index</title>
</head>
<body>
    <h1>Video Game Index</h1>
        <div>
            <% for(let i=0; i < videogames.length; i++){ %>
                <% const videogame = videogames[i] %>
                <h3><a href="/game/<%= i %>"><%= videogame.title %></a></h3>
                <img class="card-image" src="<%= videogame.image %>" alt="Placeholder image" />
            <% } %> 
        </div>
</body>
</html>