<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="formContainer">
        <form action="/" method="POST">
            <div>
                <label for="title">Game Title:</label>
                <input 
                type="text"
                placeholder="Enter Title"
                name="title"
                id="title"/>
            </div>
            <div>
                <label for="platform">Platform:</label>
                <input 
                type="text"
                placeholder="Enter Type"
                name="platform"
                id="platform"/>
            </div>
            <div>
                <label for="sales">Sales:</label>
                <input 
                class="input"
                type="text"
                placeholder="Enter Image URL"
                name="sales"
                id="sales"/>
            </div>
            <div>
                <label for="releaseDate">Release Date:</label>
                <input 
                class="input"
                type="text"
                placeholder="Enter Image URL"
                name="releaseDate"
                id="releaseDate"/>
            </div>
            <div>
                <label for="image">Image:</label>
                <input 
                class="input"
                type="text"
                placeholder="Enter Image URL"
                name="image"
                id="image"/>
            </div>
            
            <button class="button is-info">Add Game</button>
        </form>
    </main>
</body>
</html>